 
.title {
    margin: 0%;
    padding: 0%;
    margin-bottom: 2%;
}

.container {
    margin: 0%;
    padding: 0%;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.secondary-wrapper {
    font-size: 100%;
    
}

.time-info {
    
}

.table-wrapper {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items: baseline;
    /* font-size: 100%; */
    flex-direction: row;
}

.time-info-table {
    background-color: rgb(255, 255, 255);
    width: 50%;
    padding: 1%;
    
}

.ingredients-wrapper {
    margin-bottom: 3%;
}

.instructions-summary-wrapper h3 {
    margin-top: 10%;
}

.instrutions-summary a { 
    color: rgb(54, 134, 255);
}

.instructions-title {
    font-size: 150%;
    /* margin: 11%; */
    margin-top: 1% !important;
}  

.ready-in {
    font-size: 150%;
    font-weight: 600;
}

.ready-in-minutes {
    font-size: 120%;
    margin-left: 1%;
}
