.category-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media screen and (max-width: 800px) {
        display: none;
    }
}



.dark-list h4 {
    color: rgb(194, 194, 194);
}

.dark {
    color: rgb(194, 194, 194);
}


.category-listing {
    /* background-color: rgb(225, 225, 225); */
    color: black;
    margin: 1%;
    padding:.5%;
    border-radius: 10%;
    text-decoration: none;
}

.category-listing:hover {
    /* color:orange; */
    /* color: white; */
    /* background-color: rgb(190, 190, 190); */
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;

}

.category-listing:active{
    
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;

}

.category-listing:focus{
    text-underline-offset: 5px;
    text-decoration: underline;
    text-decoration-thickness: 3px;

} 
:target {
    text-underline-offset: 5px;
    text-decoration: underline;
    text-decoration-thickness: 3px;

}