.biggest-container {
    display: flex;
    flex-direction: column;
    min-width:max-content;
    @media screen and (max-width: 800px) {
    padding-bottom: 3%;
      
    }
}

// .search-bar-wrapper {
//     background-color: aqua;
//     padding: 3% 3%;
// }

.search-bar {
    background-color: rgb(213, 213, 213);
    padding: 2%;
    display: flex;
    flex-direction: row;
    margin-top: 0%;
    min-width: max-content;
    border-radius: 1rem;

    @media screen and (max-width: 800px) {
      padding: 2% 3% !important;
      font-size: 90%;
      padding: 1%;
      border-radius: 1rem;
    }
    @media screen and (max-width: 600px) {
      margin-top: 0%;
      padding: 1% 4% !important;
      font-size: 75%;
    //   padding: 1%;
      border-radius: 1rem;
    //   align-items: flex-start;
    }
    @media screen and (max-width: 400px) {
      margin-top: 0%;
      padding: 1% 4% !important;
      font-size: 55%;
    //   padding: 1%;
      border-radius: 1rem;
    }
}

.closing-icon-button {
    background-color: rgb(213, 213, 213);
    outline: none ;
    border: none ;
    cursor: pointer ;

    @media screen and (max-width: 800px) {
    
      
    }
}

.closing-icon {
    font-size: 145% !important;
    @media screen and (max-width: 800px) {
      font-size: 105% !important;
      
    }
     @media screen and (max-width: 400px) {
      font-size: 75% !important;
    }
}

.search-form {
    
    min-width: 400%;
    display: flex;
    align-items: flex-start;
}

.search-text {
    margin-left: 0%;
    font-size: 100%;
    min-width: 15%;
    background-color: rgb(213, 213, 213);
    outline: none !important;
    border: none ;

    //  @media screen and (max-width: 700px) {
    //   align-self: center;
    // }
     @media screen and (max-width: 400px) {
      align-self: center;
    }
}

.searching-icon-button {
    background-color: rgb(213, 213, 213);
    outline: none ;
    border: none ;
    cursor: pointer ;
    // border-left: 1px solid black;
    // &:hover {
    //     background-color: rgb(235, 235, 235) !important;
    // }
}

.searching-icon {
    font-size: 150% !important;
    @media screen and (max-width: 800px) {
      font-size: 125% !important;
      
    }
     @media screen and (max-width: 400px) {
      font-size: 80% !important;
    }
}

.toast-container {
    max-width: 18rem;
    font-size: 1rem;
    @media screen and (max-width: 1500px) {
      max-width: 16rem;
      font-size: .9rem;
    }
    @media screen and (max-width: 1400px) {
      max-width: 13rem;
      font-size: .7rem;
    }
    @media screen and (max-width: 1200px) {
      max-width: 10rem;
      font-size: .7rem;
    }
    @media screen and (max-width: 600px) {
    //   max-height: min-content;
      max-width: 8rem;
      font-size: .6rem;
    }
    @media screen and (max-width: 481px) {
    //   max-height: min-content;
    // position: absolute;
    // left: 0%;
    // position: absolute;
    // top: 0%;
    // right: 10px;
      max-width: 6rem;
      font-size: .4rem;
    }
    @media screen and (max-width: 400px) {
    //   max-height: min-content;
    // position: absolute;
    // left: 0%;
      max-width: 6rem;
      font-size: .4rem;
    }

}



// .search-container {
//     background: rgb(212, 212, 212);
//     /* padding: .4%; */
//     border-radius:3rem;
//     /* min-width: 32%; */
//     // min-width: 50vh;
//     // max-width: 50vh;
//     color: aliceblue;
//     margin-right: 5%;
//     margin-left: auto;
//     margin-right: 25.4%; 

//     @media screen and (max-width: 800px) {
//         // min-width: 40vh;
//         // max-width: 40vh;
//         padding-right: 12%;
//         padding-left: 1.5%;
//         font-size: .8rem;
//     }

//       @media screen and (max-width: 768px) {
//         min-width: 39vh;
//         max-width: 40vh;
//         padding-right: 12%;
//         padding-left: 1.5%;
//         font-size: .8rem;
//     }

//     @media screen and (max-width:600px) {
//         min-width: 30vh;
//         max-height: 40vh;
//         padding-right: 12%;
//         padding-left: 1.5%;
//         font-size: .8rem;
//     }

//     @media screen and (max-width: 480px) {
//         min-width: 25vh;
//         padding: .3%;
//         padding-right: 15%;
//         padding-left: 1.5%;
//         font-size: .6rem;
//     }
//     @media screen and (max-width: 430px) {
//         min-width: 19.5vh;
//         padding: .3%;
//         padding-right: 19.5%;
//         padding-left: 1.5%;
//         font-size: .49rem;
//     }
//     @media screen and (max-width: 358px) {
//         min-width: 17.5vh;
//         padding: .5%;
//         padding-right: 19.5%;
//         padding-left: 1.5%;
//         font-size: .45rem;
//     }
//     @media screen and (max-width: 335px) {
//         min-width: 13.5vh;
//         // padding: .001%;
//         // padding-right: 19.5%;
//         // padding-left: 1.5%;
//         font-size: .45rem;
//     }
// }

// .search-wrapper { 
//     display: flex;
//     justify-content: flex-start;
//     align-self: start;
//     outline: none;  
//     padding-left: 5%;
//     /* padding-right: 44%; */
//     /* padding-right: 17%; */

//     @media screen and (max-width: 335px) {
//         // min-width: 1.5vh;
//         // min-width: 100%;
//         // max-width: 180%;
//         // font-size: .45rem;
//     }
// }

// .search-input {
//     min-width: 50%;
//     /* min-width: none; */
//     padding-right: 15%;
//     border: none;
//     outline: none;
//     background: rgb(212, 212, 212);
//     color: rgb(0, 0, 0);
//     font-size: 120%;

//     @media screen and (max-width: 600px) {
//         max-width: 80% ;
//     }
//      @media screen and (max-width: 335px) {
//         max-width: 60% !important;
//         // min-width: 1.5vh;
//         // min-width: 100%;
//         // max-width: 180%;
//         // font-size: .45rem;
//     }
// }

// .search-buttons {
//     background-color: rgb(212, 212, 212);
//     outline: none;
//     border: none;
//     color: rgb(255, 255, 255);
//     display: flex;
//     flex-direction: row;
//     align-items: center;
// } 
/* 
.svg-close {
    background-color: rgb(212, 212, 212);
    margin-right: 10%;
    padding: 11%;
    outline: none;
    border: none;
    max-height: 2rem;
 } */
/* 
.svg-close:hover {

    background-color: rgba(253, 253, 253, 0.269);
    border-radius: 11.5rem;
} */

// .svg-search {
//     cursor: pointer;
//     background-color: rgb(212, 212, 212);
//     color: #000;
//     padding-top: 7%;
//     /* margin-bottom: 7%; */
//     padding-left: 50%;
//     margin-left:58%;
//     border: none;
//     border-left: 1.5px solid black;
//     // font-size: 2% !important;
//         @media screen and (max-width: 600px) {
//         padding-left: 70%;
//         margin-left: 100%;
//     }
// }

// .svg-search-icon {
//     font-size: 250%  !important;

//     &:hover {
//     // padding: 20% !important;
//     // min-width: 11%;
//      background-color: rgba(253, 253, 253, 0.269);
//     //  font-size: 250%  !important;
//      border-radius: .5rem;  
//     }
//         @media screen and (max-width: 600px) {
//         font-size: 150% !important;
//         // padding-left: 1%;
//     }
// }

// .hidden {
//     display: none;
// }

// .svg-search:hover + .hidden {
//     display: block;
//     position: absolute !important;
//     color: rgb(0, 0, 0);
//     padding: .3%;
//     background-color: rgba(217, 217, 217, 0.315);
//     right: 22.8%;
//     top:45%;
//     border-radius: 12%;
// }

// #deleter-svg {
//     max-height: 20px;
//     @media screen and (max-width: 600px) {
//         font-size: 522%;
//     }
// }

// #deleter {
//     cursor: pointer;
//     /* position: absolute ;
//     right: 28%; */
//     position: sticky;
    
//     background-color: rgb(212, 212, 212);
//     padding: .2% 0%;
//     /* right: 110%; */
//     outline: none;
//     border: none;
//     max-height: 2rem;
//     // right: 30%;
//     // min-width: 1%;
//     max-width: 5% !important; 

//     &:hover {
     
//     background-color: rgba(253, 253, 253, 0.269);
//     // border-radius: 55rem;
//     max-width: 5% !important; 
//     border-radius: .5rem; 
// }

//     @media screen and (max-width: 1830px) {
//         right: 31%;
//     }
//     @media screen and (max-width: 1619px) {
//         right: 32%;
//     }
//     @media screen and (max-width: 1436px) {
//         right: 32.8%;
//     }
//     @media screen and (max-width: 1330px) {
//         right: 33.4%;
//     }
//     @media screen and (max-width: 1295px) {
//         right: 33%;
//     }
//     @media screen and (max-width: 1090px) {
//         right: 35.6%;
//     }
//     @media screen and (max-width: 1000px) {
//         right: 32%;
//     }
//     @media screen and (max-width: 933px) {
//         right: 28%;
//     }
//     // @media screen and (max-width: 80px) {
//     //     right: 252%;
//     // }
//     @media screen and (max-width: 826px) {
//         right: 24%;
//     }
//     @media screen and (max-width: 800px) {
//         right: 40%;
//     }
//     @media screen and (max-width: 768px) {
//         right: 56.5%;
//     }
//     @media screen and (max-width: 760px) {
//         right: 56%;
//     }
//     @media screen and (max-width: 750px) {
//         right: 50%;
//     }
//     @media screen and (max-width: 740px) {
//         right: 49%;
//     }
//     @media screen and (max-width: 730px) {
//         right: 49%;
//     }
//     @media screen and (max-width: 710px) {
//         right: 46.5%;
//     }
//     @media screen and (max-width: 695px) {
//         right: 46%;
//     }
//     @media screen and (max-width: 675px) {
//         right: 44%;
//     }
//     @media screen and (max-width: 660px) {
//         right: 43%;
//     }
//     @media screen and (max-width: 650px) {
//         right: 42%;
//     }
//     @media screen and (max-width: 620px) {
//         right: 39%;
//     }
//     @media screen and (max-width: 600px) {
//         right: 52.9%;
//         font-size: 20%;
//     }
//     @media screen and (max-width: 595px) {
//         right: 51%;
//     }
//     @media screen and (max-width: 575px) {
//         right: 50%;
//     }
//     @media screen and (max-width: 560px) {
//         right: 47%;
//     }
//     @media screen and (max-width: 540px) {
//         right: 45%;
//     }
//     @media screen and (max-width: 515px) {
//         right: 42%;
//     }
//     @media screen and (max-width: 481px) {
//         right: 54%;
//     }
//     @media screen and (max-width: 470px) {
//         right: 52%;
//     }
//     @media screen and (max-width: 450px) {
//         right: 51%;
//     }
//     @media screen and (max-width: 440px) {
//         right: 50%;
//     }
//     @media screen and (max-width: 430px) {
//         right: 47%;
//     }
//     @media screen and (max-width: 405px) {
//         right: 45%;
//     }
//     @media screen and (max-width: 385px) {
//         right: 42%;
//     }
//     @media screen and (max-width: 375px) {
//         right: 41%;
//     }
//     @media screen and (max-width: 365px) {
//         right: 39%;
//     }
//     @media screen and (max-width: 355px) {
//         right: 38%;
//     }
//     @media screen and (max-width: 345px) {
//         right: 37%;
//     }
//     @media screen and (max-width: 335px) {
//         right: 32%;
//     }
// }


// .hidden-warning {
//     /* display: none; */
//     position: absolute !important;
//     right: 50.8% !important;
//     top:-145% !important;
// }

// .dark-input-warning {
//     background-color: rgb(31, 136, 255) !important;

// }

// .input-warning { 
//     // position: absolute;
//     // right: 30.8%;
//     // top:45%;
//     // margin-top: 10%;
//     background-color: rgb(176, 213, 255);
//     padding: .2%;
//     display: flex;
//     flex-direction: row;
//     // position: relative;
//     // z-index: -999999;
//     // justify-content: space-between;
//     // min-width: 16%;
// }

// .dark-exclamation-svg {
//     color: #000;
// }

// .exclamation-svg {
//     padding-left: 2%;
//     padding-top: .9%;
// }

// .dark-warning-text {
//     color: #000;
// }

// .warning-text {
//     /* padding-right: 11%; */
// }

// .input-warning-button {
//     /* min-width: 10%; */
//     outline: none;
//     border: none;
//     margin-left: 1%;
// }

// .dark-input-warning-delete {
//     background-color: rgb(31, 136, 255) !important;
// }

// .input-warning-delete {
//     /* position: absolute; */
//     /* top: 10%;
//     right: 10%; */
//     /* background-color: blueviolet; */
//     padding-bottom: 0%;
//     margin-bottom: 0%;
//     min-height: 100%;
//     background-color: rgb(176, 213, 255);
//     cursor: pointer;
// }

// #input-warning-delete:hover {
//     /* padding-bottom: 0%;
//     margin-bottom: 0%;
//     min-height: 100%;
//     background-color: rgba(106, 176, 255, 0.721); */
//     /* border-radius: 30%; */
// }