.footer-container {
    border-top: 1px solid rgb(238, 238, 238);
    padding-left: 10%;
    padding-right: 10%;
}

.footer-items-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
    padding-top: 2%;
    justify-content: space-between;
}

.copyright {
    /* margin: 11%; */
}

.social-icons {
    /* margin-right: 0%; */
    min-width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middle-icon {
    /* margin-left: 11%;
    padding-right: 11%; */
}