.MainContainer {

}

.MainNav { 
  background-color: rgb(61, 61, 61);
  min-width: 100%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 0%;
  /* display: grid; */


}

.MainNav svg {
    font-size: 2rem;
}

.innerMainNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.innerMainLogo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 5%;
}


.MainWrapper {
    margin: 3% 10%;
}