.app-container {
    /* background-color: rgb(74, 74, 74); */
}

.dark-mode {
    background-color: rgb(49, 49, 49);
    transition-duration: 100ms;
    color: rgb(194, 194, 194);
}

/* rgb(194, 194, 194) */


